## Intro

Indicators.csv is from Kaggle (https://www.kaggle.com/worldbank/world-development-indicators#Indicators.csv). The file has the size of 561 MB after unzipping and is used for practicing loading data in chunk.

In [1]:
import pandas as pd

### Row inspection

In [2]:
df_first5rows = pd.read_csv('C:\\Users\\byron\\Desktop\\data\\Indicators.csv', nrows = 5)
df_first5rows

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06

### Get a complete list of indicators and countries

In [3]:
df_country = df_first5rows[['CountryName', 'CountryCode']].drop_duplicates()
df_reader = pd.read_csv('C:\\Users\\byron\\Desktop\\data\\Indicators.csv', chunksize = 10000)
for df in df_reader:
    df_country = df_country.append(df[['CountryName', 'CountryCode']]).drop_duplicates()

In [4]:
df_country.sort_values('CountryCode').head()

      CountryName CountryCode
4149        Aruba         ABW
3839      Andorra         ADO
3492  Afghanistan         AFG
3851       Angola         AGO
3605      Albania         ALB

#### Find CountryCode for United Kingdom

In [5]:
df_country.loc[df_country['CountryName'].str.contains('United')]

                CountryName CountryCode
22019  United Arab Emirates         ARE
22072        United Kingdom         GBR
22220         United States         USA