This notebook

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

### Pandas Foundations
#### Create DataFrame from list and dictionary

In [ ]:
index = ['A','B','C','D']
col1 = [10,20,30,40]
col2 = [1.0,0.9,0.8,0.7]
col3 = ['a','b','c','d']
col4 = [12.3, 45.6, 78.9, 123.4]

list_lables = ['index', 'col1', 'col2', 'col3', 'col4']
list_cols = [index, col1, col2, col3, col4]
zipped = list(zip(list_lables, list_cols))
zipped

In [ ]:
my_dict = dict(zipped)
my_dict

In [ ]:
df = pd.DataFrame(my_dict)
df

#### Converting data types

In [ ]:
# Convert to string
df['col1_str'] = df['col1'].astype(str)
df.col1_str # object = string

In [ ]:
# Convert to numeric
df['col4'] = pd.to_numeric(df['col1_str'], errors = 'coerce')
df.col4

In [ ]:
# Convert categorical data to 'category' dtype:
df['col3'] = df['col3'].astype('category')
df.col3

#### Create index

In [ ]:
# Method 1
df1 = df.copy()
df1.index = df1['index']
del df1['index']
df1

In [ ]:
# Method 2
df2 = df.set_index(['index'])
df2

In [ ]:
df = df.set_index(['index'])

### Indexing

In [ ]:
# Column Access - []: Returns Series
df['col1']

In [ ]:
# Column Access - [[]]: Returns DataFrame
df[['col1']]

In [ ]:
# Row Access - []
df[0:2]

In [ ]:
# Row Access - loc
df.loc["A":"C"]

In [ ]:
# loc
df.loc[:, ["col1", "col4"]]

In [ ]:
# iloc:
df.iloc[:2, [1,3]]

#### Loop using iterrows()

In [ ]:
for row, info in df.iterrows():
    print(row)
    print(info)
    print('=====')

When using iloc, you don’t need double “[“ to select all, unless you specify certain rows.

#### Transform DataFrame to Numpy

In [ ]:
df.col1.head()

In [ ]:
# use .values to get numpy array
df.col1.values

#### Slice rows in reverse order

In [ ]:
df['D':'A':-1]

#### sort index

In [ ]:
df['D':'A':-1].sort_index()

#### Vectorized methods

When performance is paramount, you should avoid using .apply() and .map() because those constructs perform Python for-loops over the data stored in a pandas Series or DataFrame. By using vectorized functions instead, you can loop over the data at the same speed as compiled code (C, Fortran, etc.)! NumPy, SciPy and pandas come with a variety of vectorized functions (called Universal Functions or UFuncs in NumPy).

In [ ]:
df.info()

In [ ]:
# select columns in numeric data types
# then, convert to dozen units
df.select_dtypes(include=['float64', 'int64']).floordiv(12)

In [ ]:
# the same as:
df.select_dtypes(include=['float64', 'int64']).apply(lambda x: x//12)

#### map()

In [ ]:
# apply functions on index
df.index.map(str.lower)

In [ ]:
# apply functions on columns
mapping = {'a':'item a', 'b':'item b', 'c':'item c', 'd':'item d'}
df['item'] = df['col3'].map(mapping)
df

**Anonymouus functions**

In [ ]:
df.col1.map(lambda num: num ** 2)

#### categorical data

Advantages using dtype of category: less memory and faster operation like groupby()

In [ ]:
df['item'].unique()

In [ ]:
df['item_category'] = df['item'].astype('category')

In [ ]:
# Ordered category
df['item_ordered'] = pd.Categorical(values=df.item, 
                                    categories=['item a', 'item b', 'item c', 'item d'],
                                    ordered = True)

In [ ]:
df.item_ordered

#### Check Data Quality with Asserts
- Programmatically vs visually checking
- If we drop or fill NaNs, we expect 0 missing values
- We can write an assert statement to verify this
- We can detect early warnings and errors
- This gives us confidence that our code is running correctly

In [ ]:
# syntax
assert 1 == 1

In [ ]:
# Create example DataFrame
df2 = pd.DataFrame({
    'col1': [4.5, 5.5, np.nan, 3.5, np.nan],
    'col2': [np.nan, 10, np.nan, 5, 15],
    'col3': [1, 2, 3, np.nan, 5],
    'col4': ['A', 'B', np.nan, 'C', 'D'],
    'col5': [100, 200, 300, np.nan, 500]
})
df2

In [ ]:
# Use assert to check whethere there's null value
try:
    assert df2.col4.notnull().all()
except:
    print('AssertionError')

In [ ]:
df2_clean = df2.fillna(value = 0)
assert df2_clean.col4.notnull().all()

In [ ]:
# Use assert to test if col1 is of type float64
assert df2_clean.col1.dtypes == np.float64

In [ ]:
# Use assert to test if col2 is of type int32
df2_clean.col2 = df2_clean.col2.astype('int')
assert df2_clean.col2.dtype == np.int32

In [ ]:
# Use assert to test if col4 is of type object
assert df2.col4.dtypes == np.object

#### String Methods

In [ ]:
df.item.str.contains('a')

In [ ]:
~df.item.str.contains('a')

In [ ]:
df.item.str.upper()

In [ ]:
df.item.str.lower()

## Data Visualization with DataFrame

In [ ]:
# Import data
df_flights = sns.load_dataset('flights')
df_flights.head(10)

#### Plotting with Pandas

In [ ]:
# use plot function with numpy array
mass = df_flights.passengers.values
plt.plot(mass)
plt.show()

In [ ]:
# use plot function with series
plt.plot(df_flights.passengers)
plt.show()

In [ ]:
# plot methods in series
df_flights.passengers.plot()
plt.show()

In [ ]:
df_flights.passengers.plot('hist')
plt.show()

In [ ]:
df_flights.plot(kind = 'scatter', x = 'year', y = 'passengers')
plt.show()

In [ ]:
df_flights.boxplot(column='passengers', by='month')
plt.show()

In [ ]:
df_flights.plot(kind = 'box', y = 'passengers')
plt.show()

In [ ]:
# plot methods in data frame would plot all the numeric columns on the same axis
df_flights.plot()
plt.show()

In [ ]:
np.arange(len(df_flights)+1, step = 3)
#np.arange

#### Edit x axis and figure size

In [ ]:
df_flights.index = df_flights[['year', 'month']]
df_flights.passengers.plot()
plt.xticks(np.arange(len(df_flights)+1, step = 3), 
           df_flights.index[::3], 
           rotation=45)
#plt.xticks(rotation=90)
plt.rcParams['figure.figsize'] = [20, 5]
plt.show()

#### zoom in

In [ ]:
plt.clf()
df_flights.index = df_flights[['year', 'month']]
df_flights.passengers.plot()
plt.xticks(np.arange(len(df_flights)+1, step = 3), 
           df_flights.index[::3], 
           rotation=45)
plt.axis([120, 144, 300, 650])
plt.show()

In [ ]:
df_flights.head()

#### subplot

In [ ]:
df_diamonds = sns.load_dataset('diamonds')

In [ ]:
df_diamonds.info()

In [ ]:
plt.clf()

In [ ]:
df_diamonds.plot(subplots=True, kind='box')
plt.rcParams['figure.figsize'] = [10, 5]
plt.show()

#### Three Different DataFrame Plot Idioms
Syntax and results differ.
- x.plot(kind='hist')
- x.plt.hist()
- x.hist()

In [ ]:
df_iris = sns.load_dataset('iris')
sepal_length = df_iris[['sepal_length']]

In [ ]:
sepal_length.plot(kind='hist', bins=30)
plt.show()

In [ ]:
sepal_length.hist(bins=30)
plt.show()

In [ ]:
plt.hist(sepal_length,bins=30)
plt.show()

#### pdf and cdf

In [ ]:
df_tips = sns.load_dataset('tips')
df_tips['fraction'] = df_tips.tip/df_tips.total_bill
df_tips.head()

In [ ]:
# This formats the plots such that they appear on separate rows
fig, axes = plt.subplots(nrows=2, ncols=1)

# Plot the PDF
df_tips.fraction.plot(ax=axes[0], kind='hist', bins=30, 
                      normed=True, range=(0,.3))

# Plot the CDF
df_tips.fraction.plot(ax=axes[1], kind='hist', bins=30, 
                      normed=True, cumulative=True, range=(0,.3))
plt.show()

## Data Wrangling

In [ ]:
## import indicators.csv
df_indicator = pd.read_csv('C:\\Users\\byron\\Desktop\\data\\Indicators.csv', 
                 nrows = 100000)

In [ ]:
## Transform each indicator into a column and each row as an year
df_indicator.info()

In [ ]:
df_indicator.shape

In [ ]:
df_indicator.head()

In [ ]:
# Frequency count & Sort by values acendingly
df_indicator[0:1000].CountryName.value_counts(dropna = False).sort_values(ascending = True)

In [ ]:
# Sort by index
df_indicator[0:1000].CountryName.value_counts(dropna = False).sort_index()

### Summary Statistics

In [ ]:
# applying describe() directly to df doesn't make much sense
df_indicator.describe()

In [ ]:
df_indicator.Value[df.IndicatorCode == 'SP.ADO.TFRT'].describe()

### Pivot

In [ ]:
df_indicator.head()

In [ ]:
df_pivot = pd.pivot_table(df, 
               values = ['Value'], 
               index = ['CountryName', 'CountryCode', 'IndicatorName', 'IndicatorCode'],
               columns = ['Year'])
df_pivot.head()

### Flatten multi-index in columns

In [ ]:
df_pivot.columns = df_pivot.columns.get_level_values(1)
df_pivot.head()

### Reset multi-layer indexes to columns

In [ ]:
df_pivot = df_pivot.reset_index()
df_pivot.head()

### Trandform df_pivot back to tidy structure

In [ ]:
df_melt = df_pivot.melt(id_vars=['CountryName', 'CountryCode', 'IndicatorName', 'IndicatorCode'], 
                        value_vars=[1960, 1961, 1962, 1963],
                        var_name='Year', value_name='Value')
df_melt[(df_melt.CountryName == 'Arab World') & (df_melt.Value.notnull())].head()

### Groupby

In [20]:
df_indicator.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06

In [101]:
# Use df_pivot to practice groupby

NameError: name 'df_pivot' is not defined